<div class="text-animation">
  <h1>Welcome to kids's Collection</h1>
</div>
<div class="container text-center">
    <div class="row row-cols-1 row-cols-md-3 g-4" style>
       
      <div class="col-lg-4 card h-60 cards" [routerLink]="['/kids']"[queryParams]="{category: info.category,price: info.price}"
       *ngFor="let info of items; let i=index" >
            <img [src]="info.image" class="card-img-top" alt="...">
    
            <div class="card-body">
              <h2>{{info.platform}}</h2>
              <h1>{{info.price}}</h1>
            </div>
            <div class="card-footer">
              <div class="icons">
              <a [href]="info.link" target="_blank">Buy</a>
              <i class="bi bi-bag-dash"></i>
              <i class="bi bi-suit-heart"></i>
               </div>
                
            </div>
          </div>
          </div>
          </div>
        


    
